{% extends 'AppBundle:Layouts:application.html.twig' %}

{% block htmlTitle %}Administration - Users{% endblock %}
{% block pageTitle %}OPG Assisted Digital{% endblock %}

{% block pageContent %}
    <div class="jump-to-user">
        <h1 class="form-title heading-large">
            ASSISTED DIGITAL
        </h1>
    </div>


    {# LIST AsisD USERS #}
    <h2 class="form-title heading-medium" id="users-list-title">
        Existing assisted Lay deputy sessions.
    </h2>
    <p class="text">
        <a href="{{ path('admin_homepage', {'lay_deputy_assisted_only': 1}) }}">View users page showing only Assisted Lay deputies</a>
    </p>


    {# find existing#}
    <h2 class="form-title heading-medium" id="users-list-title">
        How to log in on behalf of an existing Lay deputy
    </h2>
    Go to "users" tab, locate the user, and click "Login as Deputy", a new window will open.<br/>
    After the first login, that user will now flagged as "Assisted Lay Deputy"<br/>
    Those users will still be able to login as a deputy with their original user and password.<br/>
    Note: this "login by AD" operation invalidates all the activation and password reset links previously sent to the Lay Deputy user.

    {# ADD USER FORM #}
    <h2 class="form-title heading-medium" id="users-add-form">
        Create assisted Lay Deputy user
    </h2>
    <p >
        This user will be initially managed from this area.
        After the user is created, it'll be immediately possible to login on the deputy area and complete the deputy
        reports on behalf of the user.
    </p>
    <p class="bold">If this account has to be re-assigned to a real Lay Deputy (with email and password):</p>

    <ul class="list list-bullet">
        <li>Edit the user' email using the real Deputy's email</li>
        <li>Untick "{{ 'addUserForm.adManaged.label' | trans({}, 'admin') }}" to remove the 'assisted digital' Flag.</li>
        <li>Click "(Re)send activation email", an activation email will be sent to the user</li>
        <li>The user will still appear in the list of <i>Existing assisted Lay deputy sessions</i>,
            but the Lay deputy will be able to fully use the service with the existing added-data
        </li>
    </ul>


    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}
    {{ form_input(form.firstname,'addUserForm.firstname') }}
    {{ form_input(form.lastname,'addUserForm.lastname') }}
    {{ form_select(form.roleName,'addUserForm.roleName') }}
    {{ form_checkbox(form.odrEnabled, 'addUserForm.odrEnabled') }}
    <p class="text">Other user details, client details, NDR and annual reports will be editable from the deputy area</p>
    {{ form_submit(form.save,'addUserForm.submit', {'buttonClass': 'behat-link-save'}) }}
    {{ form_end(form) }}

{% endblock %}
