{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% trans_default_domain translationDomain %}

{% block htmlTitle %}
    {% if ('summaryPage.htmlTitle' | trans()) != 'summaryPage.htmlTitle' %}
        {{ 'summaryPage.htmlTitle' | trans() }}
    {% else %}
        {{ 'deletePage.htmlTitle' | trans({ '%subject%': subject }, 'common') }}
    {% endif %}
{% endblock %}
{% block pageTitle %}{{ 'deletePage.pageTitle' | trans({ '%subject%': subject }, 'common') }}{% endblock %}

{% block linkBack %}
    <a href="{{ backLink }}" class="govuk-back-link behat-link-step-back">{{ 'back' | trans({}, 'common') }}</a>
{% endblock %}

{% block pageContent %}

    {{ form_start(form) }}

    <h2 class="govuk-heading-m">
        {{ 'deletePage.question' | trans({ '%subject%': subject }, 'common') }}
    </h2>

    <dl class="govuk-summary-list">
        {% for definition in summary %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{ definition.label }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if definition.value is null %}
                        -
                    {% elseif definition.format is defined and definition.format == 'money' %}
                        £{{ definition.value | money_format }}
                    {% elseif definition.format is defined and definition.format == 'date' %}
                        {{ definition.value | date('j F Y') }}
                    {% else %}
                        {{ definition.value | default('-') | nl2br }}
                    {% endif %}
                </dd>
            </div>
        {% endfor %}
    </dl>

    {% if warning is defined %}
        {{ macros.notification('important', warning) }}
    {% endif %}

    <div class="govuk-form-group">
        {{ form_submit(form.confirm, '', {
            'buttonClass': 'behat-link-confirm',
            'labelText': ('deletePage.linkButtonLabel' | trans({ '%subject%': subject }, 'common'))
        }) }}
        <a href="{{ backLink }}" class="govuk-button govuk-button--secondary behat-link-confirm-cancel">
            {{ 'cancel' | trans({}, 'common') }}
        </a>
    </div>

    {{ form_end(form) }}
{% endblock %}
