{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'summaryPage.htmlTitle' | trans() }}{% endblock %}
{% block pageTitle %}{{ 'deletePage.pageTitle' | trans({ '%subject%': subject }, 'common') }}{% endblock %}

{% block linkBack %}
    <a href="{{ backLink }}" class="govuk-back-link behat-link-step-back">{{ 'back' | trans({}, 'common') }}</a>
{% endblock %}

{% block pageContent %}

    <h2 class="govuk-heading-m">
        {{ 'deletePage.question' | trans({ '%subject%': subject }, 'common') }}
    </h2>

    <dl class="govuk-summary-list">
        {% for label, value in summary %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{ label }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ value | default('-') | nl2br }}
                </dd>
            </div>
        {% endfor %}
    </dl>

    <div class="govuk-form-group">
        <a href="?confirm=1" class="govuk-button behat-link-confirm">
            {{ 'deletePage.linkButtonLabel' | trans({ '%subject%': subject }, 'common') }}
        </a>
        <a href="{{ backLink }}" class="govuk-button govuk-button--secondary behat-link-confirm-cancel">
            {{ 'cancel' | trans({}, 'common') }}
        </a>
    </div>
{% endblock %}
