{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "admin" %}
{% set page = 'statsPage' %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}


{% block helpline %}{% endblock %}

{% block pageContent %}
    <div>
        <p>{{ (page ~ '.reportSubmissionsPara') | trans }}</p>

        {{ form_start(form, {attr: {class: 'search', novalidate: 'novalidate' }}) }}
            <div class="form-group form-groups-inline flush--bottom column-half">
                <h2 class="heading-medium">{{ (page ~ '.form.fromDate.header') | trans }}</h2>
                {{ form_known_date(form.fromDate, 'statsPage.form.fromDate', {
                    'hintText': 'statsPage.form.fromDate.hint'
                }) }}
            </div>
            <div class="form-group form-groups-inline flush--bottom column-half">
                <h2 class="heading-medium">{{ (page ~ '.form.toDate.header') | trans }}</h2>
                {{ form_known_date(form.toDate, 'statsPage.form.toDate', {
                    'hintText': 'statsPage.form.toDate.hint'
                }) }}
            </div>

            <div class="form-group">
                {{ form_submit(form.submitAndDownload, (page ~ '.form.submitAndDownload'), {
                    'buttonClass': 'behat-link-submit-and-download'
                }) }}
                <a href="{{ path('admin_stats') }}" class="button-link">{{ 'homeForm.clear' | trans }}</a>
            </div>
        {{ form_end(form) }}

        <hr>

        <h1 class="heading-large text">{{ (page ~ '.statsFilterForm.title') | trans }}</h1>
        <p>{{ (page ~ '.statsFilterForm.desc') | trans }}</p>

        {% if stats %}
            <div class="data">
                <h2 class="heading-medium">{{ stats.from|date }} to {{ stats.to|date }}</h2>

                <div class="column-one-third">
                    <span class="data-item bold-xxlarge">{{ stats.pa_named_deputy_count }}</span>
                    <span class="data-item bold-xsmall admin-stat-type">PA registrations</span>
                </div>

                <div class="column-one-third">
                    <span class="data-item bold-xxlarge">{{ stats.prof_named_deputy_count }}</span>
                    <span class="data-item bold-xsmall admin-stat-type">Professional registrations</span>
                </div>

                <div class="column-one-third">
                    <span class="data-item bold-xxlarge">{{ stats.reports_count }}</span>
                    <span class="data-item bold-xsmall admin-stat-type">Reports submitted</span>
                </div>
            </div>
        {% endif  %}

        {{ form_start(statsFilterForm, {attr: {class: 'search', novalidate: 'novalidate' }}) }}
            <div class="form-group form-groups-inline flush--bottom column-half">
                <h2 class="heading-medium">{{ (page ~ '.statsFilterForm.fromDate.header') | trans }}</h2>
                {{ form_known_date(statsFilterForm.from, 'statsPage.statsFilterForm.fromDate', {
                    'hintText': 'statsPage.statsFilterForm.fromDate.hint'
                }) }}
            </div>
            <div class="form-group form-groups-inline flush--bottom column-half">
                <h2 class="heading-medium">{{ (page ~ '.statsFilterForm.toDate.header') | trans }}</h2>
                {{ form_known_date(statsFilterForm.to, 'statsPage.statsFilterForm.toDate', {
                    'hintText': 'statsPage.statsFilterForm.toDate.hint'
                }) }}
            </div>

            <div class="form-group column-half">
                {{ form_submit(statsFilterForm.filterStats, (page ~ '.statsFilterForm.filterStats'), {
                    'buttonClass': 'behat-link-filter-stats'
                }) }}
                <a href="{{ path('admin_stats') }}" class="button-link">{{ 'homeForm.clear' | trans }}</a>
            </div>
        {{ form_end(statsFilterForm) }}
    </div>

{% endblock %}
