{% set translationDomain = "ndr-homepage" %}
{% trans_default_domain translationDomain %}

<h2 class="heading-large">{{ 'history.title' | trans }}</h2>


<dl class="govuk-summary-list behat-region-reports-history">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            {{ 'history.header.reportType' | trans }}
        </dt>
        <dd class="govuk-summary-list__key">
            {{ 'history.header.reportingPeriod' | trans }}
        </dd>
        <dd class="govuk-summary-list__key">
            {{ 'history.header.submissionDate' | trans }}
        </dd>
        <dd class="govuk-summary-list__key">
            <span class="visually-hidden">{{ 'actions' | trans({}, 'common') }}</span>
        </dd>
    </div>

    {# only submitted reports listed here #}
    {% for report in reports %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
            <a href="{{ path('report_review', {reportId: report.id}) }}">
                {{ 'annualDeputyReport' | trans({}, 'common') }}
            </a>
        </dt>
        <dd class="govuk-summary-list__value">
            {{ report.startDate | date("j M Y") }} - {{ report.endDate | date("j M Y") }}
        </dd>
        <dd class="govuk-summary-list__value">
            {{ report.submitDate | date("j F Y") }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{{ path('report_pdf', {reportId: report.id}) }}">
                {{ 'history.reports.download' | trans }}
            </a><br>
            <a class="govuk-link" href="{{ path('report_review', {reportId: report.id}) }}">
                {{ 'history.reports.view' | trans }}
            </a><br>
            <a class="govuk-link no-wrap behat-link-report-attach-more" href="{{ path('report_documents', {reportId: report.id}) }}">
                {{ 'history.reports.attachDocuments' | trans }}
            </a>
        </dd>
    </div>
    {% endfor %}

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <a href="{{ path('ndr_review', {'ndrId': ndr.id}) }}">
                {{ 'history.ndr.title' | trans }}
            </a>
        </dt>
        <dd class="govuk-summary-list__value">
            {{ 'history.ndr.reportingPeriod' | trans }}
        </dd>
        <dd class="govuk-summary-list__value">
            {{ ndr.submitDate | date("j F Y") }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{{ path('ndr_pdf', {'ndrId': ndr.id}) }}">
                {{ 'history.ndr.download' | trans }}
            </a><br>
            <a class="govuk-link" href="{{ path('ndr_review', {'ndrId': ndr.id}) }}">
                {{ 'history.ndr.view' | trans }}
            </a>
        </dd>
    </div>
</dl>