{% extends 'AppBundle:Layouts:moj_template.html.twig' %}

{% block content %}
    <h1 class="heading-xlarge text">Latest mocked emails</h1>

    {% for email in emails %}
        <details>
            <summary>
                <strong style="font-weight: bold;">{{ email.time | date("Y-m-d H:i:s") }}</strong>
                <br>
                {% for address, name in email.to %}
                    {{ name }} &lt;{{ address }}&gt;
                {% endfor %}
            </summary>

            <div class="panel panel-border-narrow">
                <strong style="font-weight: bold;">From:</strong>
                {% for address, name in email.from %}
                    {{ name }} &lt;{{ address }}&gt;
                {% endfor %}
                <br>
                <strong style="font-weight: bold;">Subject:</strong> {{ email.subject }}
                <hr>
                {% autoescape %}
                    {{ email.body | raw | nl2br }}
                {% endautoescape %}
            </div>
        </details>
    {% else %}
        <em>No emails have been mocked, or the log has been cleared.</em>
    {% endfor %}
{% endblock %}
